* {
  margin: 0;
  padding: 0;
  outline: none !important;
  text-decoration: none;
}

body {
  display: flex;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
}

.panel {
  width: 250px;
  max-width: 300px;
  background: #222d32;
  min-height: 100vh;
  transition: width 0.5s;

  .logo {
    background: #5197dd;

    .mini {
      display: none;
    }
  }

  &.turnOn {
    width: 50px;
  }

  .list {
    position: relative;

    .item-container {
      position: relative;
    }

    i {
      padding-right: 10px;
    }

    li {
      padding: 12px 15px;
      color: #b8c7ce;
      font-size: 14px;
      display: flex;
      align-items: center;
      transition: background 0.2s, color 0.2s;

      a {
        color: #b8c7ce;
      }

      &:hover {
        cursor: pointer;
        color: #fff;
        background: #1e282c;
      }

      &.show {
        .item {
          i {
            transform: rotate(-90deg);
          }
        }
      }

      .item {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;

        i {
          transform: rotate(0deg);
          transition: transform 0.3s;
          padding: 0;
        }
      }
    }

    .item-menu {
      background: #2c3b41;
      display: none;

      li {
        color: #8aa4af;
        padding: 5px 15px;
        margin: 0;

        &:hover {
          background: transparent;
          color: #fff;
        }

        &.header {
          border-top-right-radius: 5px;
          background: #222d32;
          color: #fff;
          cursor: auto;
        }
      }

      &.hover {
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        position: absolute;
        top: 0;
        left: 50px;
        min-width: 200px;
      }
    }
  }
}

.section {
  width: 100%;

  .header {
    height: 50px;
    background: rgb(81, 151, 221);
    width: 100%;
    display: flex;
    align-items: center;

    .toggle {
      background: transparent;
      border: none;
      cursor: pointer;
      height: 100%;
      padding: 0 20px;

      &:hover {
        background: #367fa9;
      }
    }

    a {
      font-size: 14px;
      padding: 0 20px;
      color: white;
      height: 100%;
      display: flex;
      align-items: center;

      &:hover {
        background: #367fa9;
      }
    }

    .name {
      margin-left: auto;
    }

    .toggle.settings {
      .setting-down {
        display: none;
      }

      &:hover {
        .setting-down {
          display: block;
          position: absolute;
          color: white;
          top: 50px;
          right: 10px;

          div {
            background: rgb(81, 151, 221);
            padding: 10px;

            &:first-child {
              border-top: 1px solid white;
              border-top-left-radius: 3px;
              border-top-right-radius: 3px;
            }

            &:last-child {
              border-top: 1px solid white;
              border-bottom-left-radius: 3px;
              border-bottom-right-radius: 3px;
            }
          }
        }
      }
    }
  }

  main {
    padding: 10px;
    background: #ecf0f5;
    height: calc(100% - 50px);

    .cards-wrapper {
      display: flex;
      flex-wrap: wrap;

      .cards {
        display: inline-flex;
        background: white;
        padding: 10px;
        min-width: 300px;
        height: 120px;
        border: 1px solid #f7f7f777;
        margin: 0;
        flex: 1;
        margin-right: 10px;
        margin-bottom: 10px;

        .cards-inner {
          display: flex;
          flex-direction: column;
        }

        i {
          margin-left: auto;
          margin-top: 10px;
          margin-right: 15px;
        }

        .status {
          margin-top: auto;
          color: #5a738e;
          font-size: 20px;
        }

        .info {
          font-size: 12px;
        }
      }
    }
  }
}
