main.categoriesCreate {
  .categoriesCreate-wrapper {
    border: 1px solid #e6e6e6;
    padding: 10px;
  }

  .form-create {
    margin-left: 15%;
    display: grid;
    grid-template-columns: max-content 1fr;
    grid-gap: 10px;
    .name-input {
      white-space: nowrap;
      margin-right: 10px;
      justify-self: flex-end;
    }

    select {
      padding: 5px 0;
      box-shadow: 0 5px 10px 0 rgba(49, 54, 62, 0.1);
      border: 1px solid #eeeeee;
    }

    input[type="text"] {
      box-shadow: 0 5px 10px 0 rgba(49, 54, 62, 0.1);
      border: 1px solid #eeeeee;
    }

    input[type="checkbox"]:checked,
    input[type="checkbox"]:not(:checked) {
      position: absolute;
      left: -9999px;
    }

    input[type="checkbox"]:checked + label,
    input[type="checkbox"]:not(:checked) + label {
      display: inline-block;
      position: relative;
      padding-left: 28px;
      line-height: 20px;
      cursor: pointer;
    }

    input[type="checkbox"]:checked + label:before,
    input[type="checkbox"]:not(:checked) + label:before {
      content: "";
      position: absolute;
      left: 0px;
      top: 0px;
      width: 22px;
      height: 22px;
      border: 1px solid #dddddd;
      background-color: #ffffff;
    }

    input[type="checkbox"]:checked + label:before,
    input[type="checkbox"]:not(:checked) + label:before {
      border-radius: 2px;
    }

    input[type="checkbox"]:checked + label:after,
    input[type="checkbox"]:not(:checked) + label:after {
      content: "";
      position: absolute;
      transition: all 0.2s ease;
    }

    input[type="checkbox"]:checked + label:after,
    input[type="checkbox"]:not(:checked) + label:after {
      left: 6px;
      top: 7px;
      width: 10px;
      height: 7px;
      border-radius: 1px;
      border-left: 4px solid green;
      border-bottom: 4px solid green;
      transform: rotate(-45deg);
    }

    input[type="checkbox"]:not(:checked) + label:after {
      opacity: 0;
    }

    input[type="checkbox"]:checked + label:after {
      opacity: 1;
    }

    input[type="number"] {
      width: 200px;
      padding: 5px 3px 5px 0;
      box-shadow: 0 5px 10px 0 rgba(49, 54, 62, 0.1);
      border: 1px solid #eeeeee;
      &::-webkit-inner-spin-button {
        width: 30px;
        height: 30px;
      }
    }
  }
}